<h1>HOLA!!</h1>
<%= link_to "Logeate", new_user_session_path %>
<%= link_to "Registrate", new_user_registration_path %>
<%= link_to "Inicio", posts_path %>

<%= link_to "Quienes somos", new_user_registration_path %>

<%= link_to "En adopcion", new_user_registration_path %>



